<% provide(:title, 'Edit Project') %>
<h2 class="text-center">Editing Project <%= @project.id %></h2>
<%= form_for :projects, url: "/projects/#{@project.id}", :method => :patch, html: { multipart: true, class: "form-horizontal" } do |f| %>
  <% if @project.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3>
          <%= pluralize(@project.errors.count, "error") %> prevented the edit
        </h3>
      </div>
      <ul class="list-group">
        <% @project.errors.full_messages.each do |msg| %>
          <li class="list-group-item list-group-item-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="<%= form_error(@project.errors, :title) %>">
    <%= f.label :title, "Project Title:", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, value: @project.title, class: "form-control", placeholder: "Title" %>
    </div>
  </div>
  <div class="<%= form_error(@project.errors, :description) %>">
    <%= f.label :description, "Description:", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, value: @project.description, class: "form-control", rows: "3", placeholder: "Descriptive text block" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="<%= form_error(@project.errors, :image) %>">
      <%= image_tag(@project.image.url(:medium), class: "img-responsive img-rounded img-center") %><br>
      <p class="text-center">
        <%= f.label :image, "Photo: ", class: "control-label" %>
        <%= f.file_field :image, style: "text-align: center" %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="<%= form_error(@project.errors, :status) %>">
      <%= f.label :status, "Project Status:" %>
      <div class="radio">
        <%= f.radio_button :status, "Complete", :checked => @project.status.eql?("Complete") %>Complete<br>
      </div>
      <div class="radio">
        <%= f.radio_button :status, "In Progress", :checked => @project.status.eql?("In Progress") %>In Progress<br>
      </div>
      <div class="radio"> 
        <%= f.radio_button :status, "Paused", :checked => @project.status.eql?("Paused") %>Paused<br>
      </div>
    </div>
    <div class="<%= form_error(@project.errors, :featured_status) %>">
      <%= f.label :featured_status, "Feature Priority: " %>
      <%= f.number_field :featured_status, value: @project.featured_status, class: "form_control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Edit Project", class: "btn btn-primary" %>
  </div>
<% end %>
