<% provide(:title, @project.title) %>
<div class="row">
  <div class="col-md-4">
    <h2>
      <%= @project.title %>
    </h2>
    <h3>
      <% if @project.status.eql?("Complete") %>
        <span class="label label-success">Complete</span>
      <% end %>
      <% if @project.status.eql?("In Progress") %>
        <span class="label label-warning">In Progress</span>
      <% end %>
      <% if @project.status.eql?("Paused") %>
        <span class="label label-default">Paused</span>
      <% end %>
    </h3><br>
    <%= image_tag(@project.image.url(:medium), class: "img-responsive img-rounded img-center") %><br>
  </div>
  <div class="col-md-4">
    <p class="text-muted"><%= @project.description %></p>
    <ul class="list-inline">
      <% @project.categorizations.each do |catg| %>
        <% catgy = Category.find(catg.category_id) %>
        <li><span class="label label-primary"><%= catgy.name %></span></li>
      <% end %>
    </ul><br>
    <% if admin_signed_in? %>
      <% barwidth = @project.featured_status.to_i*10 %>
      <h4 style="text-align: center">Feature Priority</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= @project.featured_status %>" aria-valuemin="0" aria-valuemax="10" style="min-width: 2em; width: <%= barwidth %>%">
          <%= @project.featured_status %>
        </div>
      </div>
      <% if @categorization != nil %>
        <% cat_ids = @project.categorizations.collect { |x| x.category_id } %>
      <% else %>
        <% cat_ids = Array.new %>
      <% end %>
      <% new_cats = Category.all.reject { |x| cat_ids.include?(x.id) } %>
      <% if !new_cats.empty? %>
        <p class="text-center">
          <%= form_for :categorization, url: "/projects/#{@project.id}/categorizations", :method => :post, html: { class: "form-inline" } do |f| %>
            <div class="form-group">
              <%= f.select :category_id, options_from_collection_for_select(new_cats, 'id', 'name'), class: "form-control" %>
            </div>
            <%= f.hidden_field :project_id, value: @project.id %>
            <%= f.submit "Add Category", class: "btn btn-success" %>
          <% end %>
          </p>
      <% end %>
      <% if @categorization != nil %>
        <p class="text-center">
          <%= form_for [@project, @categorization], url: project_categorization_path(@project.id, @categorization.id), :method => :delete, html: { class: "form-inline" } do |f| %>
            <div class="form-group">
              <%= f.select :id, options_from_collection_for_select(@project.categorizations, 'id', 'category_name'), class: "form-control" %>
            </div>
            <%= f.submit "Delete Category", class: "btn btn-danger" %>
          <% end %>
          </p>
      <% end %>
      <p class="text-center">
        <%= link_to "Edit", "/projects/#{@project.id}/edit", class: "btn btn-primary" %>
        <%= link_to "Delete", "/projects/#{@project.id}", :method => :delete, data: { confirm: "Are you sure you want to delete this project?" }, class: "btn btn-danger" %>
      </p>
    <% end %>
  </div>
</div>
