<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to site_name, site_url, :class => "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
        <li class="<%= 'active' if current_page?(contact_path) %>"> <%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </nav>
  <% if current_page?(root_path) %>
    <% if content_for?(:jumbotron) %>
      <div class="jumbotron">
        <div class="container push-spaces">
          <%= yield :jumbotron %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
